:root {
  --background-color: #74cac8;
  --table-background-color: #ffffff;
  --table-border-color: #CCCCCC;
  --table-hover-color: #F5F5F5;
  --table-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
}

table {
  background-color: var(--table-background-color);
  border-collapse: collapse;
  border: 1px solid var(--table-border-color);
  box-shadow: var(--table-shadow);
  margin: 20px auto;
  width: 80%;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--table-background-color);
  border-bottom: 2px solid var(--table-border-color);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--table-hover-color);
}

tr:hover {
  background-color: #F9C3B9;
}
li{
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* stilul textului din header */
h1, h2 {
  font-size: 3rem;
  margin: 0;
}
